STAGE=${STAGE}
SMART_TUTOR_VERSION=latest
SMART_TUTOR_STAGE=PROD
SMART_TUTOR_DATABASE_HOST=database
SMART_TUTOR_DATABASE_PORT=5432
SMART_TUTOR_DATABASE_SCHEMA=smart-tutor
SMART_TUTOR_DATABASE_USERNAME=postgres
SMART_TUTOR_DATABASE_PASSWORD=jebeni-password

KEYCLOAK_DATABASE_ADDR=database
KEYCLOAK_DATABASE_VENDOR=POSTGRES
KEYCLOAK_DATABASE_SCHEMA=keycloak

AUTHORITY=http://keycloak:8080/auth/realms/master
AUDIENCE=demo-app
PROXY_ADDRESS_FORWARDING=true
KEYCLOAK_FRONTEND_URL=http://127.0.0.1:8080/keycloak/auth